* {
    background-color: #f0eff2;
}

.App {
    text-align: center;
}

.App_header {
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px #dddbe0;
}
